

.AllBooks .Navbar{
    margin-bottom: 20px !important;
}

.BooksCollection{
    padding-left: 5px;
    position: relative;
    z-index: 1;
    padding-bottom: 20px;
}



.books-title{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 30px;
    font-family: cursive;
}

.book{
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 5px solid #002C61;
    position: relative;
}

.book-image{
    flex-basis: 5%;
}

.book-image  > img{
    width: 100px;
}

.book .book-details{
    padding-left: 5%;
}

.book-details > *:not(button){
    padding: 3px 0 ;
}

.book-details .book-name{
    font-size: 20px;
    color: #002C61;
    font-weight: 600;
}

.book-details .copies{
    color: green
}

.book-details > .description{
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book-details  > .created-at, .book-details > .updated-at{
    padding: 5px 0;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.delete{
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
}

.edit-symbol{
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 30px;
    cursor: pointer;
}


form.edit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
    border: none;
}

.book.border-none{
    border: none
}

.book .created-at, .book .updated-at{
    text-transform: capitalize;
}






































.modal{
    width: calc(100% - 20vh);
    height: calc(100% - 10vh);
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 50%; opacity: 1}
  }

.modal.modal-open{
    display: block;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 999; /* Higher z-index than the modal */
    display: none; /* Initially hidden */
}

.overlay.modal-open{
    display: block;
}

.AddBook, form.edit{
    padding: 10px;
    color: #002C61;
    position: relative;
}


.AddBook h1{
    margin-bottom: 5px;
}

.AddBookDiv{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 75px 75px 125px 75px 100px;
}

.Book-Title{
    grid-column: 1 / span 2;
}

.Book-description{
    grid-column: 1 / span 2;
    max-width: fit-content;
}

.Book-description textarea{
    padding: 5px 10px 0 5px;
    width: 100%;
    box-sizing: border-box;
}

.filepond--wrapper{
    grid-column: 1/ span 2;
}

.filepond--root,
.filepond--root .filepond--drop-label{
    grid-column: inherit;
    height: 76px;
}

.AddBook input, form.edit input{
    width: fit-content;
    height: 50px;
    padding-left: 10px;
}

.AddBook .Book-Author input{
    width: 200px;
}

.AddBook .Book-Title input{
    width: 500px;
}

.Book-copies input{
    height: 25px;
}

.AddBook button, form.edit button{
    width: 120px;
    height: 40px;
    line-height: 50%;
    margin-left: 5px;
}

.close-button{
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.error-books{
    display: none;
}

.error-msg.books{
    display: block;
}