*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    position: relative;
}

.Navbar{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    position: sticky;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

li{
    padding: 15px;
    transition: background-color 0.3s;
}

.logo-li img{
    width: 70px;
    height: 30px;
}

li.logo-li{
    cursor: pointer;
}

li.logo-li:hover{
    background-color: transparent !important;
}

li.select, select{
    width: inherit;
    height: inherit;
    border: none;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;;
}

li.select:hover{
    color: #002C61;
    background-color: white
}

a{
    text-decoration: none !important;
    color: black !important;
}


button > a{
    font-size: 15px;
    color: #002C61;
    padding: 10px 20px;
}


li:hover{
    background-color: #002C61;

    
}

li:hover{
    color: white;
} 

.Menu{
    display: none;
}

/*Responsive*/
/* @media only screen and (max-width:768px){
    .Navbar{
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        position: fixed;
        height: 400px;
        visibility:hidden;
    }

    a{
        width: 100%;
        height: 100px;
        margin: 0;
    }

    li{
        margin: 15px 0;
        width: 100%;
        font-size: 20px;
    }

    ul{
        width: 90%;
        flex-direction: column;
        justify-content: start;
        display: none;
    }

    /* .navbar-button{
        width:100px;
        height: 70px;
        margin: 0 !important;
        display: none;
    } */
    
    /* button a{
        font-size: 20px !important;
    }

    .Menu{
        visibility: visible !important;
        align-self: flex-start;
        margin: 5px 0 5px 3px;
        display: inline-block;
        cursor: pointer;
    }
    
    .Menu div{
        width: 52.5px;
        height: 7.5px;
        background-color: white;
        margin: 9px 0;
        transition: 0.3s;
    }

    .change.Navbar {
        visibility: visible;
        background-color: white;
        justify-content: space-around;
        width: 100%;
        height: 100vh;
    }

    .change ul .logo-li{
        display: none !important;
    }

    .change ul{
        display: flex;
    }

    .change .Menu div{
        background-color: #002C61;
    }
    .change > .Menu > .bar1{
        transform: translate(0, 16.5px) rotate(-45deg);
    }
    
    .change > .Menu > .bar2 {opacity: 0;}
    
    .change > .Menu > .bar3 {
        transform: translate(0, -16.5px) rotate(45deg);
    }
} */

