.title, .order-title{
    font-size: 50px;
    color: #002C61;
    margin-bottom: 20px;
}

.All-Books .book-list{
    display: flex;
    flex-direction: column;
}

.All-Books .book, .order{
    display: flex;
    flex-direction: row;
}

.order{
    position: relative;
}

.All-Books .book-pic, .order-pic{
    flex-basis: 5%;
}

.All-Books .book-details, .order-details{
    padding: 10px 20px;
}

.All-Books .book-pic > img, .order-pic > img{
    width: 100px;
}

.All-Books .book-details > div, .order-details > div{
    padding: 5px 0;
}

.book-details .book-copies{
    color: green;
}

.All-Books .book-name, .order-name{
    font-size: 20px;
    color: #002C61;
}

.All-Books .book-author, .order-author{
    font-size: 15px;
}

.All-Books .book-explore{
    margin-left: 0 !important;
}

.display-none{
    display: none;
}

.display{
    display: initial;
}

.tab{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.tab-link{
    cursor: pointer;
    padding: 25px 50px;
    border: none;
    font-size: 20px;
    background: none;
    transition: 0.3s background-color color;
    color: #002C61;
    border: .5px solid #002C61;
}

.tab-link:hover{
    background-color: #002C61;
    color: white;
}

.Lib-preorders{
    overflow-y: hidden !important;
}

.preorder-list{
    overflow-y: scroll;
    padding: 10px;
    height: 400px;
}