.All-Books .title, .order-title{
    font-size: 50px;
    color: #002C61;
    margin-bottom: 20px;
}

.All-Books .book-list{
    display: flex;
    flex-direction: column;
}

.All-Books .book, .order{
    display: flex;
    flex-direction: row;
}

.All-Books .book-pic, .order-pic{
    flex-basis: 5%;
}

.All-Books .book-details, .order-details{
    padding: 10px 20px;
}

.All-Books .book-pic > img, .order-pic > img{
    width: 100px;
}

.All-Books .book-details > div, .order-details > div{
    padding: 10px 0;
}

.All-Books .book-name, .order-name{
    font-size: 20px;
    color: #002C61;
}

.All-Books .book-author, .order-author{
    font-size: 15px;
}

.All-Books .book-explore{
    margin-left: 0 !important;
}