button{
    padding: 10px 15px;
    margin: 10px 20px;
    border: 1px solid #002C61;
    border-radius: 4rem;
    background-color: white;
    transition: background-color 0.3s;
}

button:hover{
    background-color: #002C61;
}

button:hover > a, button:hover{
    color: white !important;
}

form{
    justify-self: center;
    border: 0.5px solid black;
    margin-top: 20px;
}