.Home-BG{
  width: 100%;
  height: 100vh;
  background-image:linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)), url(img/photo-1522211988038-6fcbb8c12c7e.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Details{
}

.Name{
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-family: cursive;
  color: white;
}

.Description{
  font-size: 20px;
  font-family: cursive;
  color: white;
}